In [53]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics.pairwise import cosine_similarity

In [4]:
all = pd.read_csv('data_new/all_data_final.csv')
all.columns

Index(['User-ID', 'ISBN', 'Book-Rating', 'Location', 'Age', 'country',
       'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Author_2cluster', 'Author_3cluster', 'Age-Group', 'freq_R', 'freq_G',
       'freq_B', 'mean_R', 'mean_G', 'mean_B', 'median_R', 'median_G',
       'median_B', 'dominant_R', 'dominant_G', 'dominant_B', 'Pub_Year_Group'],
      dtype='object')

In [84]:
users = pd.read_csv('data_new/users_final.csv')
users = users.set_index('User-ID')
users.head()

                                     Location   Age   Country  Age-Group
User-ID
183                    porto, porto, portugal  27.0  portugal          2
242      neuffen, baden-wuerttemberg, germany  37.0   germany          3
254               minneapolis, minnesota, usa  24.0       usa          2
388                 nashville, tennessee, usa  35.0       usa          3
392               barcelona, catalunya, spain  44.0     spain          4

In [6]:
ratings = all[['User-ID', 'ISBN', 'Age-Group', 'Book-Rating']]
ratings.head()

   User-ID        ISBN  Age-Group  Book-Rating
0   276762  3453092007          2            8
1   159390  3404122879          3           10
2   159390  1853260207          3            6
3   159390  3442426677          3            7
4   159390  3426771365          3            8

In [7]:
movies = pd.read_csv('data_new/rated_movie_info.csv')
movies.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Author_2cluster,Author_3cluster,freq_R,freq_G,freq_B,mean_R,mean_G,mean_B,median_R,median_G,median_B,dominant_R,dominant_G,dominant_B,Pub_Year_Group
0,3453092007,Die zweite Haut.,Dean Koontz,1995.0,Heyne,1,2,25.423763,13.256150,15.092863,94.528354,53.574605,30.860437,70.423813,21.056648,25.865460,201.0,123.0,62.0,1995.0
1,3404122879,"Vater Himmel, Mutter Erde.",Sue Harrison,1995.0,L?¼bbe,2,3,193.106621,171.382147,127.227030,149.020801,101.050603,92.814399,154.829088,75.186690,79.456130,176.0,167.0,141.0,1995.0
2,1853260207,Jane Eyre (Wordsworth Classics),Charlotte Bronte,1997.0,NTC/Contemporary Publishing Company,2,2,26.156120,25.752898,29.361271,126.011309,113.480181,99.807248,129.667024,112.531261,91.413362,201.0,184.0,162.0,1995.0
3,3442426677,Die Grast?¤nzer.,Susan Power,1997.0,Goldmann,1,2,98.330955,170.660799,69.664447,86.247736,109.982683,42.403505,91.360521,95.737149,34.171008,46.0,55.0,18.0,1995.0
4,3426771365,Nieten in Nadelstreifen. Deutschlands Manager ...,G?¼nter Ogger,1995.0,"Droemersche Verlagsanstalt Th. Knaur Nachf., G...",1,1,71.676877,66.321471,62.608258,118.671777,119.891576,112.008173,106.610079,111.613069,101.967329,59.0,57.0,54.0,1995.0

In [11]:
movie_scaled = pd.read_csv('data_new/movie_info_scaled.csv')
movie_scaled = movie_scaled.set_index('ISBN')

In [12]:
movie_similarity = cosine_similarity(movie_scaled, movie_scaled) # (22089, 22089)
movie_similarity = pd.DataFrame(movie_similarity, index=movie_scaled.index, columns=movie_scaled.index)
movie_similarity.head()

ISBN,3453092007,3404122879,1853260207,3442426677,3426771365,3404117905,3442452643,3404283139,3404139895,3404920821,...,3777611484,3785708963,078949647X,1580621317,8420430773,8429729941,8432231096,8474105706,043913224X,1558584099
ISBN,,,,,,,,,,,,,,,,,,,,,
3453092007,1.000000,0.646960,0.754845,0.471185,0.362551,0.342001,0.283455,0.612814,0.656720,0.157504,...,0.232861,0.398515,0.274864,0.332305,0.570764,0.492353,0.414715,0.154091,0.578693,0.472573
3404122879,0.646960,1.000000,0.824134,0.743267,0.708774,0.333795,0.867599,0.854322,0.367237,0.801135,...,-0.236655,0.408738,0.832566,-0.175495,0.703002,0.101731,0.053982,0.734576,0.959123,0.754996
1853260207,0.754845,0.824134,1.000000,0.496594,0.734240,0.289332,0.657408,0.788086,0.417076,0.492762,...,-0.193487,0.599909,0.700560,-0.123456,0.923450,0.122314,0.067639,0.662771,0.843165,0.878046
3442426677,0.471185,0.743267,0.496594,1.000000,0.676206,0.662615,0.603474,0.750240,0.555265,0.667576,...,0.063463,0.486521,0.456120,0.169216,0.271459,0.379804,0.297240,0.382790,0.763988,0.480256
3426771365,0.362551,0.708774,0.734240,0.676206,1.000000,0.381203,0.715912,0.829421,0.386788,0.688763,...,-0.285613,0.856811,0.646987,-0.167532,0.677540,0.053583,-0.038607,0.701196,0.794447,0.837117

In [45]:
# scaled된 movie 정보 불러오기
book_scaled = pd.read_csv('data_new/book_info_scaled.csv')
book_scaled = book_scaled.set_index('ISBN')

# movie간 유사도 구하기
book_similarity = cosine_similarity(book_scaled, book_scaled) # (22089, 22089)
book_similarity = pd.DataFrame(book_similarity, index=book_scaled.index, columns=book_scaled.index)

def get_knn_ISBNs(ISBN, k=10):
    
    knn_result = book_similarity.loc[ISBN].sort_values(ascending=False)
    knn_lst = list(zip(knn_result.index, knn_result.values))[1:k+1]
    return knn_lst

In [42]:
train, test, y_train, y_test = train_test_split(ratings, ratings['Book-Rating'], test_size=0.3, random_state=42)

In [85]:
# 도서 전체의 전체 평점평균 구하기
total_mean_rating = train['Book-Rating'].mean()
print(total_mean_rating)

# ISBN별(도서별) 전체 평점평균 구하기
mean_rating_per_ISBN = train.groupby('ISBN')['Book-Rating'].mean()

# 사용자 연령별 전체 평점평균 구하기
mean_rating_per_AgeGroup = train.groupby('Age-Group')['Book-Rating'].mean()
print(mean_rating_per_AgeGroup[0])

# ISBN별(도서별) 연령대에 따른 평점평균 구하기
mean_rating_per_age_group_and_ISBN = train.groupby(['ISBN', 'Age-Group'])['Book-Rating'].mean().to_frame().reset_index()
mean_rating_per_age_group_and_ISBN.pivot(values='Book-Rating', index='ISBN', columns='Age-Group')

7.732431994818653
7.75

Age-Group   0   1     2    3     4    5    6   7   8   9   10
ISBN
000104799X NaN NaN   NaN  NaN   NaN  8.0  7.0 NaN NaN NaN NaN
000160418X NaN NaN   NaN  NaN   NaN  NaN  7.0 NaN NaN NaN NaN
000222674X NaN NaN   NaN  NaN   NaN  9.0  NaN NaN NaN NaN NaN
000225056X NaN NaN  10.0  NaN   NaN  NaN  NaN NaN NaN NaN NaN
000225414X NaN NaN   NaN  NaN   7.0  NaN  NaN NaN NaN NaN NaN
...         ..  ..   ...  ...   ...  ...  ...  ..  ..  ..  ..
B0000T6KHI NaN NaN   NaN  NaN  10.0  NaN  NaN NaN NaN NaN NaN
B0000T6KIM NaN NaN   NaN  NaN   4.0  NaN  NaN NaN NaN NaN NaN
B0000VZEH8 NaN NaN   9.0  NaN   NaN  NaN  NaN NaN NaN NaN NaN
B0001GMSV2 NaN NaN   8.0  8.0   NaN  NaN  NaN NaN NaN NaN NaN
B000234N3A NaN NaN   NaN  9.0   NaN  NaN  NaN NaN NaN NaN NaN

[16646 rows x 11 columns]

In [47]:
# train set으로 만든 ISBN별(도서별) 평점 평균
mean_rating_per_ISBN

ISBN
000104799X     7.5
000160418X     7.0
000222674X     9.0
000225056X    10.0
000225414X     7.0
              ...
B0000T6KHI    10.0
B0000T6KIM     4.0
B0000VZEH8     9.0
B0001GMSV2     8.0
B000234N3A     9.0
Name: Book-Rating, Length: 16646, dtype: float64

In [66]:
def get_knn_mean_rating(ISBN, k):
    
    knn_isbn_lst = get_knn_ISBNs(ISBN, k)
    
    rating_lst = []
    for ISBN, cosine in knn_isbn_lst:
        if ISBN in mean_rating_per_ISBN:
            rating = mean_rating_per_ISBN[ISBN] * cosine # cosine similarity에 따라 가중평균
        else:
            rating = total_mean_rating
        rating_lst.append(rating)
    rating_array = np.array(rating_lst)
    
    return rating_array.mean()

In [89]:
def RMSE(y_true, y_pred):
    return np.sqrt(np.mean((np.array(y_true) - np.array(y_pred))**2))

def baseline(user_id, ISBN):
    return total_mean_rating

def score(model):
    id_pairs = zip(test['User-ID'], test['ISBN'])
    y_pred = np.array([model(user_id, book) for (user_id, book) in id_pairs])
    y_true = np.array(test['Book-Rating'])
    return RMSE(y_true, y_pred)

def knn_score(model, k):
    id_pairs = zip(test['User-ID'], test['ISBN'])
    y_pred = np.array([model(user_id, book, k) for (user_id, book) in id_pairs])
    y_true = np.array(test['Book-Rating'])
    return RMSE(y_true, y_pred)

print(f"Baseline Model Score: {score(baseline)}")

Baseline Model Score: 1.8323849921826738

In [64]:
def ISBN_similarity_model(user_id, ISBN, k=10):
    
    return get_knn_mean_rating(ISBN, k)

In [86]:
def ISBN_similarity_age_model(user_id, ISBN, k=10):
    
    knn_isbn_lst = get_knn_ISBNs(ISBN, k)
    
    rating_lst = []
    for ISBN, cosine in knn_isbn_lst:
        if ISBN in mean_rating_per_ISBN: # train set에 해당 ISBN이 있는 경우
            rating = mean_rating_per_ISBN[ISBN] * cosine # cosine similarity에 따라 가중평균
        else: # train set에 해당 ISBN이 없는 경우
            user_age = users.loc[user_id]['Age-Group'] # user_id의 age_group 정보 확인
            rating = mean_rating_per_AgeGroup[user_age] # 해당 age_group의 전체 평점 평균 반환
        rating_lst.append(rating)
    rating_array = np.array(rating_lst)
    
    return rating_array.mean()

In [67]:
print(f"ISBN_similarity Model Score: {score(ISBN_similarity_model)}")

ISBN_similarity Model Score: 1.543317999333452

In [87]:
print(f"ISBN_similarity_age_model Score: {score(ISBN_similarity_age_model)}")

202it [25:45,  7.65s/it]

ISBN_similarity_age_model Score: 1.542552478364814

In [90]:
for k in [3, 5, 7, 10, 15, 20, 25, 30]:
    print(f"k value: {k}, Model Score: {knn_score(ISBN_similarity_age_model, k)}" )

k value: 3, Model Score: 1.6455959228761032
k value: 5, Model Score: 1.5956501137463608
k value: 7, Model Score: 1.5561923024573934
k value: 10, Model Score: 1.542552478364814
k value: 15, Model Score: 1.5341681095856128
k value: 20, Model Score: 1.5360389558268648
k value: 25, Model Score: 1.5366883132297329
k value: 30, Model Score: 1.5377729091314762